@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

/* @plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #caeb66;
} */

@plugin "daisyui/theme" {
  name: 'default'; /* or "light" if you use that name */
  default: true;
  --color-primary: #caeb66;
}

/* @plugin "daisyui/theme" {
  name: 'dark';
  --color-primary: #caeb66;
}

@plugin "daisyui/theme" {
  name: 'cyberpunk';
  --color-primary: #caeb66;
}

@plugin "daisyui/theme" {
  name: 'valentine';
  --color-primary: #caeb66;
}

@plugin "daisyui/theme" {
  name: 'aqua';
  --color-primary: #caeb66;
} */

.font-urbanist {
  font-family: 'Urbanist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* body {
  background-color: #eaeced;
} */
